.cart {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tytle {
  font-size: 9px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.info {
  position: absolute;
  top: -5px;
  right: 0;
  width: 22px;
  height: 22px;
  text-align: center;
  background-color: green;
  color: #efefef;
  border-radius: 50%;
  border: 1px solid black;
}

.activeStyle {
  background: lightblue;
  border-radius: 50%;
}

.inactiveStyle {
  text-decoration: none;
}
